* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.card {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 5px;
  border: 5px solid red;
  border-radius: 20px;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: aquamarine;
  text-align: center;
  margin: 5px;
}